.header {
    display: flex;
    align-items: center;
    background-color: #3F51B5;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;

}


.header .logo {
    max-width: 100px;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 5px;
}